@import 'tailwindcss';

@source "./src/**/*.{astro,html,js,jsx,ts,tsx}";

@theme {
  --color-bgColor: rgb(27 8 67);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

@layer base {
  html {
    @apply text-zinc-300;
  }
}

@layer utilities {
  .gradient {
    @apply from-violet-500 to-green-500;
  }
}
