---
import Layout from '../layouts/Layout.astro'

const fullText = `Hey! I'm Gabriel Duarte.\nYour friendly neighborhood developer.`
---

<Layout title="Gabriel Duarte">
  <div class="flex items-center justify-center flex-col md:mx-14 xl:mx-40 xl:my-16">
    <div
      class="text-4xl text-center font-['Montserrat'] flex-row items-center mx-14 my-4 justify-center flex whitespace-pre-wrap"
    >
      <noscript>{fullText}</noscript>
      <span class="hidden" id="textTyped"
        ><span></span><span id="postTextTyped" class="opacity-0">{fullText}</span></span
      >
    </div>
    <script>
      const nodeToType = document.querySelector('#textTyped span')
      const nodeToHide = document.querySelector('#postTextTyped')

      if (!nodeToType || !nodeToHide) {
        throw new Error("Whoops, this shouldn't happen, the textTyped was not found")
      }

      nodeToType.parentElement?.classList.remove('hidden')

      const fullText = nodeToHide.textContent || ''
      nodeToType.innerHTML = ''

      interface TypewriterPauses {
        [keyof: string]: number
      }

      const customPauses: TypewriterPauses = {
        '!': 200,
        '.': 300,
      }

      let i = 0

      const typeWriter = () => {
        if (i < fullText.length) {
          setTimeout(typeWriter, customPauses[fullText.charAt(i)] || 35)
          nodeToType.textContent += fullText.charAt(i)
          nodeToHide.textContent = fullText.substring(i + 1)
          i++
        }
      }
      typeWriter()
    </script>

    <div class="text-lg flex flex-col justify-center max-w-screen-sm items-center mx-14">
      <p class="text-justify my-4">
        <ul class="list-disc">
          <li>Front-end developer born in Brazil, and based in Hamburg, Germany.</li>
          <li>Always looking out for good talks and good music.</li>
          <li>Passionate about cutting-edge, pixel-perfect and beautiful interfaces.</li>
        </ul>
      </p>
    </div>
  </div>
</Layout>
