---
import EmailLink from './EmailLink.astro'
import FancyBorder from './FancyBorder.astro'
import GithubLink from './GithubLink.astro'
import LinkedinLink from './LinkedinLink.astro'
import MetaTags from './MetaTags.astro'
import '../styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html class="bg-zinc-900" lang="en">
  <head>
    <MetaTags title={title} />
  </head>
  <body class="mx-auto overflow-x-hidden md:flex md:items-center md:justify-center md:h-screen md:w-screen md:-mt-20!">
    <div class="relative">
      <FancyBorder />
      <header>
        <div class="p-8 sm:p-12 flex">
          <a href="/" class="text-3xl sm:text-4xl font-thin text-center select-none font-['Montserrat']">
            G<span class="font-medium">D</span>
            <div class="bg-linear-to-r from-violet-500 to-green-500 h-0.5"></div>
          </a>
          <div class="ml-auto min-w-[30px]"></div>
          <div class="flex items-center justify-center gap-6 mt-2">
            <EmailLink />
            <GithubLink />
            <LinkedinLink />
          </div>
        </div>
      </header>
      <main><slot /></main>
      <FancyBorder place="bottom" />
    </div>
  </body>
</html>
